/* You can add global styles to this file, and also import other style files */
html {
    background: linear-gradient(0deg, rgb(14, 11, 74), rgb(28, 92, 255)) no-repeat;
    height: 100%;
}

body {
    background-color: rgb(0, 0, 0, 0);
}

.fake-btn {
    &:hover {
        cursor: pointer;
    }
}